<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.qdu.mapper.ProductTypeMapper">

    <select id="queryAll" resultType="producttype">
        select * from t_producttype
    </select>

    <select id="queryEachTypeQuantity" resultType="cn.edu.qdu.echarts.pie.PieItem">
        select tpe.name,count(1) as value from t_product tpt left join t_producttype tpe on tpt.model = tpe.id group by tpe.name
    </select>

</mapper>