<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/login.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <meta charset="UTF-8">
    <title>管理员登录</title>
</head>
<body>
<div class="container">
    <div class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"/>
        <p id="profile-name" class="profile-name-card"></p>
        <form action = "login" class="form-signin" method="post">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="email" id="inputEmail" name = "email" class="form-control" placeholder="邮箱" th:value="${login_email}" required autofocus>
            <input type="password" id="inputPassword" name = "password" class="form-control" placeholder="密码" required>
            <!--<div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>-->
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">登录</button>
        </form><!-- /form -->
        <a href="#" class="forgot-password">
            忘记密码?
        </a>
    </div><!-- /card-container -->

    <div class="alert alert-warning alert-dismissible" role="alert" th:if="${result != null}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>提示!</strong> [[${result}]]
    </div>
</div><!-- /container -->
</body>
</html>